html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container{
  font-family: Arial Regular;
  width: 1170px;
  margin: 0 auto;
  max-width: 100%;
}

.Vector{
  margin: 25px 0;
}

.link{
  background-image: url("../img/Arrow\ 1.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 52px;
  font-weight: 400;
  font-size: 20px;
  color: #3f2aff;
}

.head-1{
  margin: 0;
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 60px;
  color: #3f2aff;
  
}

.module-row{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  font-size: 0;
  margin: 0;
  padding: 0;

}

.box{
  position: relative;
  margin: 0;
  padding: 25px;
  width: 572px;
  height: 505px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  background-position: top center;
  background-repeat: no-repeat;
}

.head-2{  
  margin: 0;
  margin-top: 180px;
  font-weight: 700;
  font-size: 40px;
  color: #3f2aff;
}

.text{
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  color: #333;
}

.list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* font-size: 0; */
}

.number{
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-weight: 400;
  font-size: 40px;
  /* text-align: right; */
  color: #eaeaea;
}

/* .list-text:not(:second-child){
  margin-top: 200px;
} */

.image-1{
  background-image: url("../img/im-1.png");
}

.image-2{
  background-image: url("../img/im-2.png");
}

.image-3{
  background-image: url("../img/im-3.png");
}

.image-4{
  background-image: url("../img/im-4.png");
}

.button{
  display: block;
  padding: 25px 76px;
  margin: 50px auto;
  width: 274px;
  height: 70px;
  border: 2px solid #3f2aff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #3f2aff;
  background-color: #fff;
}
